:root {
    --primary-color: #cae9b7;
    --secondary-color: #ffffff; /* Example value */
    --accent-color: #ff5733; /* Example value */
    --link-color: #9393ff; /* Example value */
    --text-color: #0c2138; /* Example value */
}

.items{
    padding-left: 0em;
    margin-top: 0;
    line-height: 2;
}

ol {
    list-style: none;
}

ol li:before {
    counter-increment: mycounter;
    content: counter(mycounter) ". ";
}

ol:first-of-type {
    counter-reset:  mycounter;
}

body{
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
    min-height: 100vh;
}

a{
    color: var(--text-color);
    text-decoration: none;
    border-bottom: var(--link-color) 3px dashed;
}
#page-container{
    max-width: 750px;
}
h1{
    font-family: monospace;
    font-size: 10vh;
}
/* h2 is being used for _subtitle_ */
h3{
    font-size: 1.5rem;
}
h4{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
li{
    /* list-style-type: none; */
    margin: 10px 0;
}